{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ products.name }}{% endblock title %}

{% block content %}
    <div class="detail-container">
        <div class="detail-header">
            <h1 class="product-title">{{ products.name }}</h1>
            {% if products.brand %}
                <p class="brand">{{ products.brand }}</p>
            {% endif %}
        <div class="main-detail">
            <div class="d-flex">
                <img src="{{ products.image.url }}" alt="{{ products.name }}" class="main-photo" />
                {% if products.image_min %}
                    <img src="{{ products.image_min.url }}" alt="{{ products.name }}" class="min-photo" />
                {% endif %}
                <div class="detail-image d-flex">
                    {% if products.image_left and products.image_right %}
                    <img src="{{ products.image_left.url }}" alt="Упаковка" class="left-photo"/>
                    <img src="{{ products.image_right.url }}" alt="На столике" class="right"/>
                    <p>Варианты упаковки</p>
                    {% endif %}
                    <button class="btn" type="submit">Добавить в корзину</button>
                </div>
                    <p class="main-detail-disc-tag">Описание</p>
                    <p class="main-detail-disc">{{ products.description }}</p>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}