{% extends 'main/base.html' %}
{% load static %}

{% block title %}Магазин{% endblock title %}

{% block content %}
<div class="container">
    <div class="container-cat">
    {% for item in categories %}
        <ul>
            <li {% if not category %} class="selected"{% endif %}>
                <a href="{% url 'main:product_list' %}"></a>
            </li>
            <li {% if category.slug == item.slug %}class="selected"{% endif %}>
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            </li>
        </ul>
    {% endfor %}
    <div class="container-product text-center">
    {% for product in products %}
        <div class="">
            <p>{{ product.name }}</p>
        </div>
    {% endfor %}
    </div>
    </div>
</div>
{% endblock %}