{% extends 'main/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
<section class="login-reg d-flex container">
    <div class="login-title">
        <h2>Регистрация</h2>
        <form action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label form-stylereg">Имя пользователя</label>
                <input type="text" class="form-control form-stylereg" id="id_username"
                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                name="username" placeholder="Имя пользователя" required>
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label form-stylereg">Email</label>
                <input type="email" class="form-control form-stylereg" id="id_email"
                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                name="email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <label for="id_password1" class="form-label form-stylereg">Пароль</label>
                <input type="password" class="form-control form-stylereg" id="id_password1"
                value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                name="password1" placeholder="Пароль" required>
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label form-stylereg">Подтвердите пароль</label>
                <input type="password" class="form-control form-stylereg" id="id_password2"
                value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                name="password2" placeholder="Подтвердите пароль" required>
            </div>
            <button type="submit" class=" form-style">Зарегистрироваться</button>
        </form>
    </div>
</section>
{% endblock content %}