{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>
<body style="background-color: #f9f4ec">
    <div class="main-container">
        <div class="header mt-3">
            <div class="header-right">
                <ul class="header-list d-flex header-content nav-links">
                    <li>
                        <a href="/" class="d-flex mt-3 link header-color">Главная</a>
                    </li>
                    <li>
                        <a href="/shop/" class="d-flex mt-3 link header-color">Магазин</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>
    <footer>
        <div class="footer-content footer-container">
            <div class="footer-logo">
                <p>Магазин изысканных ароматов для тех, кто чувствует стиль.</p>
            </div>
            <div class="footer-social">
                <p>Мы в соцсетях:</p>
                <a href="#">Instagram</a>
                <a href="#">Telegram</a>
                <a href="#">Tik-Tok</a>
            </div>
            <div class="footer-subscribe">
                <p>Подпишитесь на эксклюзивные предложения</p>
                <form>
                    <input type="email" placeholder="Ваш e-mail">
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>