{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon"/>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>
<body style="background-color: #f9f4ec">
    <div class="main-container">
        <div id="header"></div>
        <script>
            fetch("{% url 'main:header' %}")
              .then(response => response.text())
              .then(html => {
                document.getElementById("header").innerHTML = html;
              });
        </script>
        {% block content %}{% endblock content %}
    </div>
    <footer>
        <div class="footer-content footer-container">
            <div class="footer-logo">
                <p>Магазин изысканных ароматов для тех, кто чувствует стиль.</p>
            </div>
            <div class="footer-social">
                <p>Мы в соцсетях:</p>
                <a href="#">Instagram</a>
                <a href="#">Telegram</a>
                <a href="#">Tik-Tok</a>
            </div>
            <div class="footer-subscribe">
                <p>Подпишитесь на эксклюзивные предложения</p>
                <form>
                    <input type="email" placeholder="Ваш e-mail">
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>